src/main/mule/int-prc-confirm-ticket-api.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="ConfirmTicket" service="ConfirmTicket" wsdlLocation="ConfirmTicket.wsdl"/>
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6f7312ce-b414-4bfd-819d-cdb51a388de1" >
		<http:request-connection host="int-sys-movie-api-v1.us-e2.cloudhub.io" />
	</http:request-config>
	<api-gateway:autodiscovery apiId="17504371" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="bce666fe-af7c-4e1d-8bb6-5ed2212f839e" flowRef="api-main" />
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/order/confirmticket">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
	<flow name="ConfirmMovieTicket:\soapkit-config">
		<http:request method="GET" doc:name="Get Booking Details by B_Id" doc:id="c399a72d-0ec8-402b-9022-89b1cf170f1a" config-ref="HTTP_Request_configuration" path="#['/api/booking/' ++ payload.body.ConfirmMovieTicket.BID]" target="bookingDetails">
		</http:request>
		<choice doc:name="Choice" doc:id="784aff8e-e052-4699-afac-4963a83286fa" >
			<when expression="#[sizeOf(vars.bookingDetails) &gt; 0]">
				<http:request method="POST" doc:name="Generate Transaction Details" doc:id="dfd76a7f-8dbb-40c1-8f16-8bb2094a0520" config-ref="HTTP_Request_configuration" path="/api/booking/transaction" target="txnDetails">
					<http:body ><![CDATA[#[output application/json
---
{
	"B_ID" : payload.body.ConfirmMovieTicket.BID,
	"TOTAL_AMOUNT" : payload.body.ConfirmMovieTicket.TotalPrice
}]]]></http:body>
				</http:request>
				<http:request method="GET" doc:name="Get Movie Name" doc:id="54aadb7f-6912-4819-a7c4-199e818a181b" config-ref="HTTP_Request_configuration" path="#['/api/movie/' ++ vars.bookingDetails[0].M_ID]" target="movieDetails">
				</http:request>
				<http:request method="GET" doc:name="Get Theatre Name" doc:id="9556b0f8-6e6d-450e-aca0-6f1edf8a6875" config-ref="HTTP_Request_configuration" path="#['/api/theatre/' ++ vars.bookingDetails[0].T_ID]" target="theatreDetails">
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="7bc19151-b01b-4637-8788-2a18d24f4160" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
response:
	{
		"StatusCode" : "200",
		"Description" : "Ticket Confirmed. Please find the details of the booking.",
		"TxID" : vars.txnDetails.Tx_ID,
		"BookingId" : vars.bookingDetails.B_ID,
		"MovieName" : vars.movieDetails.NAME,
		"TheatreName" : vars.theatreDetails.THEATRE_NAME,
		"Date" : vars.bookingDetails.DATE,
		"Slot" : vars.bookingDetails.SLOT,
		"NoOfSeats" : vars.bookingDetails.SEAT_COUNT,
		"Address" : vars.theatreDetails.ADDRESS
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="d36e9555-2fd9-4282-a920-a453b6a23298" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
response:
	{
		"StatusCode" : "200",
		"Description" : "Booking Details not found. Kindly rebook the tickets"
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="09eea1c9-5975-42bd-94d4-02860fafe496" >
				<ee:transform doc:name="Transform Message" doc:id="4a934759-cea9-41b7-826a-de80f0a5a349" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
response :
	{
		"StatusCode": "400",
		"Description": "Something went wrong, please try again later!!" 	
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
</mule>
